body
{ background-color: #c1c1c1; }
.main_button
{
    width: 100px;
    height: 100px;
    display: inline-block;
}

#b1
{ background-color: #3e92cc; }

#b2
{ background-color: #29648e; }

#b3
{ background-color: #183e59; }

#b4
{ background-color: #16374f; }
