body
{ background-color: #292f33; }

#main
{
    margin-top: 10%;
    text-align: center;
}

.main_button
{
    width: 100px;
    height: 100px;
    display: inline-block;
}

button
{
    background-color: transparent;
    border: none;
    margin: 2em;
    color: #fa7921;
    font-family: 'Arvo', serif;
}

#strict_mode
{ border-bottom: thin solid transparent; }

#start_game
{
    border-top: thin solid transparent;
    border-bottom: thin solid transparent;
}

#b0
{ background-color: #3e92cc; }

#b1
{ background-color: #29648e; }

#b2
{ background-color: #183e59; }

#b3
{ background-color: #16374f; }
