body
{ background-color: #c1c1c1; }

.main_button
{
    width: 100px;
    height: 100px;
    display: inline-block;
}

button
{
    background-color: transparent;
    border: none;
}

#strict_mode
{
    border-bottom: thin solid transparent;
}

#b0
{ background-color: #3e92cc; }

#b1
{ background-color: #29648e; }

#b2
{ background-color: #183e59; }

#b3
{ background-color: #16374f; }
